<mat-card>
    <mat-card-header>
        <mat-card-title>¿Quién soy?</mat-card-title>
        <mat-card-subtitle>Soy un programador de software con deseos de compartir los conocimientos que he 
            adquirido durante los años en los cuales me he dedicado a esto, si algo de lo que comparto te 
            sirve en tu aprendizaje, en tu trabajo, etc., será un placer el haber ayudado.
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="blog-table">
            <div class="blog-row">
                <div class="blog-column">
                    <mat-card>
                        <mat-card-header>
                            <img class="img-social" src="../../assets/img/angular.png">
                        </mat-card-header>
                        <mat-card-content>
                        <mat-list>
                            <mat-list-item> <span mat-raised-button (click)="openDialog()"> Directivas </span> </mat-list-item>
                            <mat-list-item> <span mat-raised-button (click)="openDialog()"> Servicios </span>  </mat-list-item>
                            <mat-list-item> <span mat-raised-button (click)="openDialog()"> Routing </span> </mat-list-item>
                            <mat-list-item> <span mat-raised-button (click)="openDialog()"> Obervables </span> </mat-list-item>
                        </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="blog-column"> 
                    <mat-card>
                        <mat-card-header>
                            <img class="img-social" src="../../assets/img/vs.png">
                        </mat-card-header>
                        <mat-card-content>
                        <mat-list>
                            <mat-list-item>  </mat-list-item>
                            <mat-list-item>   </mat-list-item>
                            <mat-list-item>   </mat-list-item>
                        </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="blog-column">
                    <mat-card>
                        <mat-card-header>
                            <img class="img-social" src="../../assets/img/sql.jpg">
                        </mat-card-header>
                        <mat-card-content>
                        <mat-list>
                            <mat-list-item><button mat-raised-button (click)="openDialog()"> </button>  </mat-list-item>
                            <mat-list-item>   </mat-list-item>
                            <mat-list-item>   </mat-list-item>
                        </mat-list>
                        </mat-card-content>
                    </mat-card>    
                </div>
            </div>
            <div class="blog-row">
                <div class="blog-column">
                    <mat-card>
                        <mat-card-header>
                            <img class="img-social" src="../../assets/img/aws.png">
                        </mat-card-header>
                        <mat-card-content>
                        <mat-list>
                            <mat-list-item>  </mat-list-item>
                            <mat-list-item>   </mat-list-item>
                            <mat-list-item>  </mat-list-item>
                        </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="blog-column"> 
                    <mat-card>
                        <mat-card-header>
                            <img class="img-social" src="../../assets/img/automation.png">
                        </mat-card-header>
                        <mat-card-content>
                        <mat-list>
                            <mat-list-item>   </mat-list-item>
                            <mat-list-item>   </mat-list-item>
                            <mat-list-item>   </mat-list-item>
                        </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="blog-column">
                    <mat-card>
                        <mat-card-header>
                            <img class="img-social" src="../../assets/img/unity.png">
                        </mat-card-header>
                        <mat-card-content>
                        <mat-list>
                            <mat-list-item>   </mat-list-item>
                            <mat-list-item>  </mat-list-item>
                            <mat-list-item>   </mat-list-item>
                        </mat-list>
                        </mat-card-content>
                    </mat-card>    
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>