<div class="main-body">
    <div class="col1-body">
        <mat-card>
            <mat-card-header>                
                <div mat-card-avatar class="example-header-image"></div>              
                <mat-card-title>José Luis Nabor</mat-card-title>
                <mat-card-subtitle>Software Developer</mat-card-subtitle>
                <mat-card-subtitle>Universidad Autónoma del Estado de México</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="main-social">
                  <div class="main-social-col">
                        <img class="img-social" src="../../assets/img/linkedin.png">
                  </div>
                  <div class="main-social-col">
                        <img class="img-social" src="../../assets/img/instagram.png">
                  </div>
                  <div class="main-social-col">
                        <img class="img-social" src="../../assets/img/facebook.png">
                  </div>
                  <div class="main-social-col">
                        <img class="img-social" src="../../assets/img/whatsapp.png">
                  </div>
              </div>              
              <p>
                "Cuando compras algo no te equivoques, el instrumento es la plata con la que tú estás comprando, pero en realidad, estás comprando con el tiempo de tu vida que tuviste que gastar para tener esa plata".
              </p>
              <p>
                "Lo que quiere decir que cuando tú gastas, en el fondo, lo que estás gastando es tiempo de tu vida, que se te fue en ello".
              </p>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col2-body"></div>
</div>
